
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; 
    color: #333; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #00bfff; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

.personal-details, .bio, .social-icons {
    background-color: #fff; 
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #00bfff; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons {
    background-color: #00bfff; 
    text-align: center;
}

.social-icons h2 {
    color: #fff;
    border-bottom: none; 
}

.social-icon {
    display: inline-block;
    margin-right: 20px;
}

.social-icon a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s ease;
}

.social-icon a:hover {
    color: #333;
}

.social-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}

footer {
    text-align: center;
    background-color: #333; 
    color: #fff; 
    padding: 10px;
    margin-top: 20px;
}

.under-construction {
    text-align: center;
    padding: 20px; 
    font-size: 18px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background: yellow; 
}

.construction-image {
    width: 50px; 
    height: 50px; 
    margin: 0 10px; 
    animation: blink 1s alternate infinite; 
}

.construction-text {
    font-weight: bold;
    color: black;
    animation: blink 1s alternate infinite; 
}

@keyframes blink {
    to {
        opacity: 0;
    }
}